<div class="media">
	<div class="media-body">
		<h4 class="media-heading">
			世紀の発見の立役者。
		</h4>
		この発見ができたのは、彼の常に真摯な科学に向き合う姿勢と
		諦めない心に神様が
	</div>
	<a class="media-right" href="#">
		<img src="img.svg" height="120" >
	</a>
</div>