<div class="media">
	<a class="media-left" href="#">
		<img src="/img.svg" height="120" >
	</a>
	<div class="media-body">
		<h4 class="media-heading">
			俺の部隊は彼によって救われた。
		</h4>
    ベトナムの地獄から生還できたのは <%= @post.name %> 、
		いつも冷静でポジティブな彼がいたからだ。
		彼のおかげで、俺たちは最高のチームだった。	
	</div>
</div>
