<body>
<h1>名を刻まれし者達</h1>
<p>
<%= link_to '汝名前を刻むに値する者か？', new_post_path %>
</p>
<% if @posts.present? %>
<dl>
<% @posts.each do |post| %>
  <dt><%= post.name %></dt>
  <dd><%= post.story %></dd>
<% end %>
</dl>
<% end %>
</body>
