<body>
<div class="container">
<div class="row">
	<div class="col-md-12">
  
    <h1>名を刻まれし者達</h1>
    <p>
    <%= link_to '汝名前を刻むに値する者か？', new_post_path %>
    </p>
    <% if @posts.present? %>
    <dl class="dl-horizontal">
    <% @posts.each do |post| %>
      <dt><%= post.name %></dt>
      <dd><%= post.story %></dd>
      <hr>
    <% end %>
    </dl>
    <% end %>
  </div>
</div>
</div>
</body>
